/* Header */
.header {
    background-color: #8FCDFB;
    width: 100% !important;
}

.title-nav {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.name-logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Lato;
    font-size: 48px;
    font-style: bold;
    color: black;
}

p {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    color: black;
}

/* Navbar */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 100%;
    background-color: #8fcdfb;
  }
  
  .container a {
    font-family: Lato;
    font-size: 16px;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .btn {
    background-color: #8fcdfb;
  }
  
  .dropdown {
    background-color: #8fcdfb;
  }
  
  .dropdown button {
    background-color: #8fcdfb;
  }
  
  .dropdown-submenu {
      position: relative;
      background-color: #8fcdfb !important;
    }
    
  .dropdown-submenu .dropdown-menu {
     top: 0;
     left: 100%;
     margin-top: -1px;
   }
  
  .open>.dropdown-toggle.btn-default {
     background-color: #29a3fc !important;
   }
  
  .btn-default:active:hover,
  .btn-default.active:hover,
  .open > .dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open > .dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
  .open > .dropdown-toggle.btn-default.focus {
    background-color: #29a3fc !important;
  }
  
    .dropdown-menu {
      padding: 0px !important;
    }
  
    button {
      border-style: none !important;
    }
  
    .dropdown-menu li {
      background-color: #8fcdfb;
    }
  
    .dropdown button:hover {
      background-color: #29a3fc;
      border-style: none; 
    }
  
    .container button:hover {
      background-color: #29a3fc;
      border-style: none; 
    }
  
    .dropdown-menu a:hover {
      background-color: #29a3fc !important;
    }

    .dropdown-menu a:focus {
      background-color: #29a3fc !important;
      border: none;
    }


/* Sidebar */
#containerGrid {
    margin: 1%; 
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 3fr;
}

#leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 40px;
}

#leftSideAssesspage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  margin-top: 40px;
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.tilesImage {
  width: 70%;
  height: auto;
}

.tiles a {
    font-family: Lato;
    font-size: 24px;
    font-style: bold;
    color: black;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.heroImage {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.hero p {
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    color: black;
}

.herop {
  margin-bottom: 30px;
}

.hero p1 {
  font-family: Lato;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: black;
}

/* Dashboard */
.dashboardSection {
    margin: 1%; 
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
}

.dashboard h1 {
  text-align: center;
}

.dashboardImage {
  width: 115%;
  height: auto;
  margin-top: 60px;
}

.dashButtons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  margin-top: 250px;
  margin-left: 30px;
}

.dashboardButtons {
  border: 5px solid black;
  color: black;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Lato;
  font-style: bold;
  height: 70px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 70px;
  background-color: #8FCDFB;
  border-radius: 10px;
}

/* Assessment */
.assessmentSection{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.assessment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;  
}

.assessment h1{
  text-align: center;
  padding-bottom: 2%;
}

.assessmentImage{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.namiLogo{
  width: 120%;
  height: auto;
  margin-left: 170%;
}

.assessmentSection button:hover {
  background-color: #29a3fc;
  border-style: none; 
}

.assessmentSection button:focus {
  background-color: #29a3fc;
  border-style: none; 
}

.assessmentScale{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 60%;
  margin-right: 25%;
}

.likertImage {
  width: 90%;
  height: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: ffffff; /* Fallback color */
  border: 3px solid #8FCDFB;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 3px solid #8FCDFB;
  width: 80%;
}

.modal-content p {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  color: black;
}

.modal-content button:hover {
  background-color: #29a3fc;
  border-style: none; 
}

/* The Close Button */
.close {
  color: #29a3fc;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* Email Sign-up */
.email-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.email-container p {
  font-family: Lato;
    font-size: 18px;
    font-style: normal;
    color: black;
    margin-left: 20px;
}

.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.form-group {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.email-container button {
  margin-right: 5px;
}

.email-container button:hover {
  background-color: #29a3fc;
  border-style: none; 
}

/* Footer */
footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8FCDFB;
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer p {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    color: black;
    margin-top: 3px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    #containerGrid {
        grid-template-columns: 100%;
    }

    .title-nav {
        display: flex;
        flex-direction: column;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .hero p {
        font-size: 12px;
    }
}