

.name-logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8FCDFB;
}

p {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    color: white;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #8FCDFB;
}
